<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="appiumServerUrl" value="http://localhost:4723/wd/hub" />
		<!-- Change the value accordingly if you're testing on iOS -->
		<add key="platform" value="android" />
		<add key="deviceName" value="Pixel 3 API 31" />
		<add key="mobileApp" value="AndroidTestApp.apk" />
	</appSettings>
</configuration>